* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html, body {
  width: 100%;
  height: 100%;
  font-family: 'IM Fell English', serif;
}

.vakken-container {
  display: flex;
  flex-direction: row;
  height: 100vh; /* Volledige hoogte */
  width: 100vw;  /* Volledige breedte */
}

.vak {
  flex: 1; /* Verdeelt de breedte gelijk over de 5 vakken */
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 2rem;
  color: white;
}

/* Kleuren per vak */
.vak1 { background-color: #f886fc; }
.vak2 { background-color: #e7aaff; }
.vak3 { background-color: #cadfeb; }
.vak4 { background-color: #f9d41b; color: black; }
.vak5 { background-color: #ff6f0e; }
